<html>
<head>
    <title>Text Utils Home Page</title>
</head>
<body>
    <center><h1> Welcome To Text Analyzer. Enter Your Text Below </h1></center>
    <form action="/analize" method="get">
        <center><textarea name="ta" style="width: 879px; height: 122px;" required="required"></textarea></center><br/>
        <input type="checkbox" name="removepunc" style="padding:10px; margin-left:200px">Remove Punctuations <br/>
        <input type="checkbox" name="uppercase" style="padding:10px; margin-left:200px">UPPERCASE <br/>
        <input type="checkbox" name="lowercase" style="padding:10px; margin-left:200px">lowercase <br/>
        <input type="checkbox" name="newlineremover" style="padding:10px; margin-left:200px">New Line Remover<br/>
        <input type="checkbox" name="extraspaceremover" style="padding:10px; margin-left:200px">Extra Space Remover<br/>
        <input type="checkbox" name="charcounter" style="padding:10px; margin-left:200px">Character Counter<br/>
        <button type="submit" style="padding:10px; margin-left:200px">Analyze Text</button>
    </form>
</body>
</html>